<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Edit</title>
</h:head>
<body>
    <h:form prependId="false">
        <h:panelGrid columns="2" cellpadding="2" cellspacing="2">
            <h:outputText value="Id"/>
            <h:inputText value="#{studentController.st.id}"/>
            <h:outputText value="Roll Number"/>
            <h:inputText value="#{studentController.st.rollNumber}"/>
            <h:outputText value="Name"/>
            <h:inputText value="#{studentController.st.name}"/>
            <h:commandButton value="Submit" action="#{studentController.update()}"/>
        </h:panelGrid>
    </h:form>
</body>
</html>