<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Index</title>
</h:head>
<body>
    <h:link value="Add new Student" outcome="form"/>
    <br/>
    <br/>
    <h:form>
    <h:dataTable var="st" value="#{studentController.getAll()}" border="1"
    cellpadding="2" cellspacing="2">
        <h:column>
            <f:facet name="header">Roll Number</f:facet>
            <h:outputText value="#{st.rollNumber}"/>
        </h:column>
        <h:column>
            <f:facet name="header">Name</f:facet>
            <h:outputText value="#{st.name}"/>
        </h:column>
        <h:column>
            <f:facet name="header">Option</f:facet>
            <h:commandLink value="Edit" action="#{studentController.update(st)}"/>&#160;
            <h:commandLink value="Delete" action="#{studentController.remove(st)}" onclick="return confirm('Are you sure?')"/>
        </h:column>
    </h:dataTable>
    </h:form>
</body>
</html>